/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Bootstrap
@import 'bootstrap';

// Variables
$color: #b163a3;

// HTML
html {
  min-height: 100%;

  // Body
  body {

    // TEST TO BE REMOVED LATER
    .test {
      background: pink;
    }

    // Login Modal Trigger
    .login-link {
      margin-top: 2.5em;

      p {
        margin-bottom: 0;
      }

      a {
        color: $color;
        cursor: pointer;
      }

      a:hover {
        color: darken($color, 10%);
        text-decoration: none;
      }
    }


    
  }
}
