/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import 'bootstrap';

body {

  .test {
    background: pink;
  }

  .sign-up {
    margin: 0 auto;
    text-align: center;
    width: 20em;

    .form-control {
      border: .1em solid #cccccc;
      border-bottom: none;
      border-top: none;
      border-radius: 0;
      color: #555555;
      font-size: 14px;
      height: 34px;
      line-height: 1.428571429;
      padding: 6px 12px;
    }

    .form-control:first-child {
      border-top: .1em solid #cccccc;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    .form-control:nth-child(4) {
      border-bottom: .1em solid #cccccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .btn-default {
      color: #333333;
      background-color: white;
      border-color: #cccccc;
      width: 100%;
    }
  
  }

}