// Mixins
@mixin translate-center($x, $y) {
  left: $x;
  position: fixed;
  top: $y;
  -webkit-transform: translateX(-$x) translateY(-$y);
  -moz-transform: translateX(-$x) translateY(-$y);
  -ms-transform: translateX(-$x) translateY(-$y);
  transform: translateX(-$x) translateY(-$y);
}

// Body
.groups_controller {

  // Dashbaord
  .dashboard {
    background: gray;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    padding-bottom: 100px;

    .location {
      cursor: pointer;
    }
  }

  // Google Map
  .map {
    height: 100%;
    padding: 0;
    position: fixed;

    #map-canvas {
      height: 100%;
    }
  }

  // Alert Errors
  .alert {
    @include translate-center(50%, 10%);
    width: 22em;
  }
}
