<h1>LOCATIONS</h1>

<ul>
  
  <% @locations.each do |location| %>
  <li>
    <h3><%= location.name %></h3>
    <%= location.address %>
      <br>
    <em><%= location.description %></em>
  </li>
  <% end %>

  <li>
    <h3>+ <%= link_to 'Location' %></h3>
  </li>

</ul>